<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a routerLink="register" routerLinkActive="active" class="navbar-brand btn btn-dark">Home</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a routerLink="register" routerLinkActive="active" class="btn btn-dark">register</a>
      </li>
      <li class="nav-item">
        <a routerLink="show" routerLinkActive="active" class="btn btn-dark">show</a>
      </li>
    </ul>
  </div>

</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
